 p { 
    font-size: 20px;
     padding-left: 10px;
    font-family: 'Indie Flower', cursive;
    color:$orange;
}

h3 { 
    font-size: 30px;
    padding-left: 10px;
    font-family:'Bree Serif', serif;
    }  