
.hero {
  background: $black;
  background-image: url(images/leaves.png);
  @include background-image;
    
    /* background-image is in mixins */

h1 {
  margin: 0;
  padding: 120px 0;
  color: white;
  text-shadow: 0 0 10px $gray;
  text-align: center;
  font-size: 45px;
 }
}




