  /* Navigation */
nav {
  margin-top: 40px;


    header & {
      float: right;
      text-align: center;
        @include breakpoint(phone) {
          float: none;
          text-align: center;
        }
    }
    




 a {
  margin-right: 20px;
  font-size: 25px;
  color: $orange;
  text-decoration: none;
     &:last-of-type {
    margin: 0;
    }
     @include breakpoint(phone) {
         margin-right: 10px;
         font-size: 1rem;
     } 
     
}
    
}