* { box-sizing: border-box; }

/* Clearfix */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}




/* Columns & Row */
.row {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.column {
    border-right: 2px solid #FF8C00;
  float: left;
  margin-right: 2%;
}

.column.two-third {
  width: 65%;
}
.column.one-half {
  width: 49%;
}
.column.one-third {
  width: 32%
}

.column:last-of-type {
  margin-right: 0;
    border-right: 0;
}





/* ----- Styles Here ----- */
body {
  padding: 0;
  margin: 0;
  font-family:'Bree Serif', serif;
}

a {
  transition: 333ms all ease-in-out;
}

a:hover {
  color: #fff;
}



/* Header */
header {
  background: #000;
  padding: 10px;
  margin-bottom: 20px;
}

/* Cancel the header margin on home page. */
body#home header {
  margin-bottom: 0;
}

header .row {
  margin-bottom: 0;
}

.logo {
  float: left;
  width: 120px;
  height: 120px;
}

nav {
  margin-top: 40px;
}

header nav {
  float: right;
  text-align: right;
}

nav a {
  margin-right: 20px;
  font-size: 30px;
  color: #FF8C00;
  text-decoration: none;
}

nav a:last-of-type {
  margin: 0;
}



/* Hero */
.hero {
  background: #000;
  background-image: url(images/leaves.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  margin: 0;
  padding: 120px 0;
  color: white;
  text-shadow: 0 0 10px #444;
  text-align: center;
  font-size: 45px;
}




/* Google Map */
iframe {
  max-width: 100%;
}



/* Footer */
footer {
  background: #000;
  margin-top: 60px;
  padding: 5px 0;
  font-size: 20px;
  text-align: center;
}



/* Responsive */
@media (max-width: 500px) {
  header {
    text-align: center;
  }

  .logo {
    float: none;
  }

  header nav {
    float: none;
    text-align: center;
  }

  .column {
    width: 100% !important;
    margin-right: 0;
  }
}

p { 
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color:#808080;
}

h3 { 
    font-size: 30px;
font-family:'Bree Serif', serif;
} 
